*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main{
  display: flex;
  justify-content:center;
}

.main-contents{
  width: 300px;
  background-color: #eeeeee;
  margin: 50px 15px;
  position: relative;
}

.main-top-text{
  background-color: #ff9a4b;
  color: white;
  position: absolute;
}

.main-image1{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow01.png);
  background-size:cover;
  background-position: bottom;
}

.main-image2{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow02.png);
  background-size:cover;
  background-position: bottom;
}

.main-image3{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow03.png);
  background-size:cover;
  background-position: bottom;
}

h3{
  padding: 5px 10px;
}

p{
  padding: 0 10px 10px 10px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width:768px){
  main{
    display: block;
    margin: 50px auto;
    width: 100%;
  }

  .main-contents{
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 10px;
  }

  .main-image1{
    margin: 0px;
  }

  .main-image2{
    margin: 0px;
  }

  .main-image3{
    margin: 0px;
  }

  .main-top-text{
    left: 0;
    top: 0;
  }

  h3{
    padding: 15px 0px 5px 0px;
  }

  p{
    padding: 0
  }
}